.Parent {
  display: flex;
  flex-direction: row;
}

.child1 {
  width: 70%;
  text-align: center;
}

.child2 {
  width: 30%;
  padding: 50px;
  margin: 50px;
  font-size: 15px;
  font-style: italic;
}

a {
  color: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
}

.hero-image {
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.7),
      rgba(58, 59, 59, 0.7)
    ),
    url("photos/homepage.jpeg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.hero-text {
  text-align: center;
  padding: 100px;
  color: white;
}

.footer {
  padding: 20px;
  text-align: center;
  background: rgb(0, 0, 0);
  color: white;
}

.card {
  background-color: rgb(255, 255, 255);
}

